---
import Layout from "../../layouts/Layout.astro";
import BlogList from "../../components/BlogList.astro";
---

<Layout>
  <main class="py-36">
    <BlogList locale="en" currentPath="/blog" />
  </main>
</Layout>
