---
import Layout from "../../layouts/Layout.astro";
import BlogList from "../../components/BlogList.astro";
---

<Layout>
  <main class="py-36 container mx-auto px-4 sm:px-6 lg:px-8">
    <BlogList locale="en" currentPath="/blog" />
  </main>
</Layout>
